@{
    ViewData["Title"] = "About";
}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row position-relative">

            <div class="col-lg-6 about-img" style="background-image: url(assets/img/about.jpg);"></div>
            <img src="~/upconstruction/assets/img/masal.jpg" style="height:400px; width:400px "  />
            <div class="col-lg-6">
                <h1>HAKKIMIZDA</h1>


                

                Bizler, masalların büyülü dünyasına giriş yapmanızı sağlayan bir ekibiz. Amacımız, size her gün güzel bir masal sunarak rutin hayatınızdan uzaklaşmanızı ve hayal gücünüzü canlandırmanızı sağlamaktır. Masallar, çocukluktan itibaren hepimizin sevdiği ve büyüklere dahi ilham veren hikayelerdir.

                Web sitemizde, sizi hayal dünyasına taşıyacak birbirinden farklı masallar bulabilirsiniz. Kraliyet saraylarında dolaşırken prenseslerle tanışabilir, büyülü ormanlarda maceralara atılabilir ve fantastik karakterlerin arasında unutulmaz yolculuklar yapabilirsiniz. Her yaşa uygun seçenekler sunarak, masalların herkes için birer hazine olduğuna inanıyoruz.

                Masalların gücüne olan inancımızla, sizlere en kaliteli masal deneyimini sunmak için çalışıyoruz. Hikayelerimiz sadece eğlendirmekle kalmayıp aynı zamanda değerli öğretiler de sunar. Masallar, ahlaki değerleri, empatiyi ve hayal gücünü beslerken, ruhumuza dokunan derin anlamlar taşır. Bu nedenle, masalların sizin hayatınıza da olumlu bir etki yapabileceğine inanıyoruz.

                Web sitemizi ziyaret ederken, masal dünyasının büyüsüne kapılıp kendinizi kaybedeceğinizden eminiz. Sizlerle birlikte masal okumanın heyecanını paylaşmak, bizi mutlu edecektir. Masallarımızdan ilham alıp keyif aldıysanız, lütfen arkadaşlarınızla ve sevdiklerinizle paylaşın. Büyüleyici hikayelerimizin topluluğuna katılarak, daha fazla masalı keşfetme fırsatını da elde edebilirsiniz.

                Masal dünyamıza hoş geldiniz! Sizi hayallerinizin ötesine taşımak için sabırsızlanıyoruz.



                <p>Sevgiyle...</p>


                <h4> Nennen App Ekibi </h4>


               
             
            </div>

        </div>

    </div>
</section>

