<section id="about" class="about">
 <div class="row position-relative">

            <div class="col-lg-6 about-img" style="background-image: url(assets/img/about.jpg);"></div>
            <img src="~/upconstruction/assets/img/masal (1).jpg" style="height:400px; width:400px " />
            <div class="col-lg-6">
           
<h3>Ar-Ge çalışmalarımızı sabırla beklediğiniz için teşekkürler...</h3>

    </div>
</div>
    
</section>