
<h1>Gizlilik Sözleşmesi</h1>
<div class="justify-content-center">
<p>
    2. KİŞİSEL VERİLERİN İŞLENME AMAÇLARI

    Kişisel verileriniz; Kanun’un 5 inci ve 6 ncı maddelerinde belirtilen işleme şartları ile ikincil düzenlemelere uygun olarak aşağıdaki amaçlar ile işlenebilecektir:

    Şirketimiz hizmetlerinin tesisi, sunulması ve devamlılığının sağlanması,
    Alt yapı/hizmet verilebilirlik sorgularının yapılması, abonelik tesisi ve abonelik süresince yapılan faturalama/ücretlendirme/iade/tahsilat işlemlerinin gerçekleştirilmesi, aboneliğin sona erdirilmesi,
    Beyan ettiğiniz kimlik bilgilerinizin ve belgelerin doğruluğunun kontrol edilmesi, ilgili mevzuat gereği abonelik sözleşmenizin yanında kimlik örneğinizin ve saklanması gereken diğer bilgilerinizin muhafaza edilmesi,
    Müşteri hizmetlerinin sunulması, müşteri şikâyet/taleplerinin karşılanması,
    Müşteri memnuniyetinin ölçümlenmesi, müşteri eğilimlerinin araştırılması ile hizmet kalitesinin arttırılması odaklı anket/analiz/istatistik çalışmalarının yapılması,
    Müşteri memnuniyetinin sağlanması odaklı ödül/çekiliş/yarışma/hediye/ teşekkür/kutlama/hatırlatma uygulamalarının sunulması,
    Ürün ve hizmetlere ilişkin kampanya ve tekliflerin müşterilerimizin kullanımına göre hazırlanması, sunulması, tanıtımı, takibi, raporlanması ve kampanya içeriği hakkında bilgilendirme yapılması,
    Müşterilerimizin yeni ürün/servisler, kampanya/tarifeler ve diğer yeniliklerden haberdar edilmesi, bilgilendirme ve müşteri geri kazanımı faaliyetleri, satış fırsatlarının oluşturulması,
    Kredi-gelir güvence ve risk incelemesi, kredi puanlaması, tahsilata yönelik riskin yönetilmesi ve usulsüzlük/suiistimal/dolandırıcılık gibi her türlü kötü niyetli kullanımların tespiti ve önlenmesi,
    Müşterilerin tanınmasına ilişkin ulusal ve uluslararası alandaki ilke ve esaslar kapsamında mevzuat ve resmi otoritelerce öngörülen bilgi saklama, raporlama, bilgilendirme yükümlülüklerine uyum,
    Daha iyi ve yenilikçi hizmet sunumu için network ve teknolojik ilerlemeler/iyileştirmeler kapsamında konvansiyonel ve dijital mecralarda ürün, servis ve iş geliştirilmesi,
    Ürün ve hizmet çeşitliliğinin arttırılması ile müşterilerin çeşitli fırsatlardan yararlanmasının sağlanması kapsamında farklı sektörlere temas eden marka işbirliklerinin tesisi,
    Şebeke iyileştirme/optimizasyon çalışmalarının yapılması,
    Servis sunumu sırasında oluşabilecek arızaların proaktif/reaktif bir şekilde tespit edilmesi, sorunun kök nedeninin bulunarak çözümlenmesi ve tekrarının önlenmeye çalışılması,
    Düzenleyici ve denetleyici kurumlar, resmi merciler tarafından talep edilen bilgi/belgelerin paylaşılması, ilgili mevzuatta yer alan yasal yükümlülüklerin yerine getirilmesi, denetim faaliyetleri, yasal takip ve hukuki süreçlerin yürütülmesi.
    İlgili mevzuata uygun olarak acil yardım çağrısı durumlarında konumunuzun tespit edilmesi, .
    BTK Yetkilendirme Yönetmeliği ve ilgili sair mevzuat kapsamında Rehberlik Hizmetlerinin sunulabilmesi.
</p>
</div>