



<div class="card text-bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Kayıtlı Kullanıcı Sayısı</div>
    <div class="card-body">
        <h1>@ViewBag.user.ToString("n0")<small>Adet kayıtlı kullanıcı var  </small></h1>
    </div>
</div>